#picLinks {
    margin: 20px 0;
}

#headshot {
    border-radius: 50%;
    width: 100%;
    max-width: 400px;
}

.a {
    text-decoration: none;
}

#connect {
    margin-bottom: 2px;
}

.social-links a {
    margin-top: 5px;
    margin-right: 10px;
}
