#headshot {
    border-radius: 5%;
    width: 12.5%;
}

#main-container {
    display: flex;
    flex-flow: row;
}
  
#fancy_circle {
    width: 40%;
    height: 40%;
    background-color: #282c34;
    border-radius: 50%;
}