:root {
  --background-color: #c1c8e4;
  --card-color: #dce0f3;
  --header-footer: #8860d0;
  --link-color: #496ecc;
  --primary-btn: #5ab9ea;
  --secondary-btn: #84ceeb;
}

#main-container {
  background-color: var(--background-color);
}
